body {
     font: 100% "Lucida Sans", Verdana;
     line-height: 26px;
     margin: 20px;
}

#top {
    background-color: #04AA6D;
    color: #ffffff;
    padding: 15px;
 }

#top h1, #top p, ul { 
    margin: 0;
    padding: 0;
}

li {
    background-color: #f1f1f1;
    margin: 4px;
    border: 1px solid #d4d4d4;
}

li:hover {
    cursor: pointer;
    background-color: #ffffff;
 }

li:first-child { 
   background-color: #04AA6D;
   color: white;
   font-weight: bold;
}

ul {
    float: left;
    list-style-type: none;
    width: 200px;
 }

#main { 
    padding: 10px;
    margin: 0 210px;
}

#sidebar {
     background-color: #32a4e7;
     position: absolute;
     color:#ffffff;
     bottom: 0;
     padding: 10px;
     top: 0;
     right: 0;
     width: 180px;
     height: 270px;
     margin: 4px 0px;
     
}
     
.wrapper {
    position: relative;
}
#bottom {
    background-color: #f1f1f1;
    border: 1px solid #d4d4d4;
    font-size: 70%;
    text-align: center;
    line-height: 14px;
    padding: 10px 20px;
    
 }

#top, li, #sidebar, #bottom { 
       border-radius: 4px;
}

a{ 
    color: black;
    text-decoration: underline;
}

a:hover{
    text-decoration: none;
 }

#bottom p{
    margin: 0px;
}

