body{ 
   font: 100% Verdana;
}

#top{
    padding: 10px;
    margin: 4px;
 }

h1, h2, h3{ 
    color: #4CAF50;
}

li{
    background-color: #555555;
    color: white;
    margin: 2px;
    padding: 4px;
    float: left;
    list-style-type: none;
    line-height: 26px;
 }

ul{
    position: relative;
    padding: 0;

 }

li:nth-child(3){ 
    background-color: #04AA6D;

}

li:hover{
    cursor: pointer;
    background-color: black;
}

#sidebar{
    background-color: #f1f1f1;
    border: 1px solid #d4d4d4;
    padding-left: 10px;
 }
#bottom{ 
    font-size: 70%;
    padding: 10px;
    line-height: 14px;
}
#bottom p {
    text-align: center;
 }

a{
    color: black;
 }

 a:hover{
    color: #04AA6D;
 }
/*
background-color: #04AA6D;
background-color: #555555;
background-color: #f1f1f1;
background-color: black;
border: 1px solid #d4d4d4;
color: #4CAF50;
color: black;
color: white;
cursor: pointer;
float: left;
font: 100% Verdana;
font-size: 70%;
line-height: 14px;
line-height: 26px;
list-style-type: none;
margin: 0px;
margin: 20px;
margin: 4px;
overflow: auto;
padding: 0;
padding: 10px;
padding: 2px;
padding-left: 10px;
padding-top: 1px;
text-align: center;
text-align: center;
width: 165px;
*/